@charset "utf-8";

body {
  background-color: #eee;
  margin: 0;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
  margin-bottom: 0.5rem;
}
a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}
a:hover {
  opacity: 0.8;
}

.container {
  max-width: 900px;
  margin: auto;
}
#items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 4rem;
  width: 100%;
  margin: auto;
}
.item {
  width: 200px;
}
.itemImg {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background: #ddd;
}
.itemDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
}
.itemPrice {
  font-size: 1.2rem;
  font-weight: bold;
}
.reviewStar {
  width: 1.4rem;
  margin-bottom: -0.3rem;
}
.review {
  font-size: 0.8rem;
}
.reviewAve {
  font-size: 0.9rem;
  font-weight: bold;
}

/*-------------------------
  itemList.ejs
-------------------------*/
#reviewSort {
  padding: 0.3rem;
  margin-bottom: 1rem;
}
.itemList_item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.itemList_itemImg {
  width: 100%;
  height: 60vh;
  object-fit: contain;
}
.itemList_itemDetails {
  padding: 1rem;
  margin: auto;
}
.itemList_itemName {
  font-size: 1.5rem;
}
#reviews {
  max-width: 900px;
  background-color: #ddc;
  padding: 1rem;
  margin: auto;
}
.reviewTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.shopBtn {
  text-align: center;
}
#addBtn {
  display: inline-block;
  margin-bottom: 2rem;
}
#addBtn a {
  cursor: pointer;
  background-color: #afa;
  font-size: 0.9rem;
  border: 1.5px solid #333;
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
  transition: 0.1s;
}
#addBtn a:hover {
  background-color: #6f6;
}
input[type="number"] {
  width: 2.2rem;
  height: 1.6rem;
}

/*-------------------------
  レビュー
-------------------------*/
.star {
  display: flex;
  font-size: 1.2rem;
}
.person {
  font-size: 0.85rem;
}
.card {
  padding: 1rem;
}
.card:nth-child(2n-1) {
  background-color: #eee;
}
.star_img {
  width: 24px;
  height: 24px;
}
